:root {
  --primary-color: #85dcb8;
  --secondary-color: #c38d9e;
  --third-color: #41b3a3;
  --fourth-color: #3f7083;
  --fifth-color: #a75e5b;
}

body {
  background-color: var(--primary-color);
}

h1 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 52px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  color: var(--third-color);
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  color: var(--fourth-color);
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 50px;
}

h3.email {
  margin-bottom: 10px;
}

p {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  width: 600px;
  font-size: 18px;
  line-height: 1.5;
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

img {
  width: 600px;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--fourth-color);
}

.nav-link {
  color: var(--fourth-color);
}

.navbar-brand {
  color: var(--secondary-color);
  font-weight: bold;
}

.navbar-brand:hover {
  color: var(--secondary-color);
  font-weight: bold;
  cursor: default;
}

.active {
  color: white !important;
}

.nav-link:hover {
  color: white;
}

.about-me {
  display: flex;
  justify-content: center;
}

.project-name,
.project-description {
  text-align: left;
  margin-left: 0;
}

.button-about-me,
.button-portfolio {
  background-color: var(--third-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--third-color);
  cursor: pointer;
  margin: 10px;
  margin-bottom: 30px;
}

.button-learn-more {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--fourth-color);
  color: var(--fourth-color);
  cursor: pointer;
  margin: 0;
}

.button-about-me:hover,
.button-portfolio:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  color: white;
}

.button-learn-more:hover {
  background-color: var(--fourth-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  margin: 0;
}

.homepage {
  text-align: center;
  font-size: 12px;
}

.email {
  text-align: center;
}

.project-portfolio {
  text-align: center;
}

@media (max-width: 576px) {
  img.project-screenshot {
    display: block;
    margin: 0 auto;
    width: 400px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h2.project-name,
  p.project-description {
    text-align: center;
  }

  a.button-learn-more {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 200px;
  }

  a.button-learn-more:hover {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 200px;
  }

  a.button.button-learn-more.escape {
    margin-bottom: 50px;
  }
}
