:root {
  --primary-color: #85dcb8;
  --secondary-color: #c38d9e;
  --third-color: #41b3a3;
  --fourth-color: #3f7083;
  --fifth-color: #a75e5b;
}

body {
  background-color: var(--primary-color);
}

h1 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 52px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  color: var(--third-color);
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  color: var(--fourth-color);
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 50px;
}

p {
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
  color: white;
  width: 600px;
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--fourth-color);
}

.nav-link {
  color: var(--fourth-color);
}

.active {
  color: var(--secondary-color);
}

.nav-link:hover {
  color: white;
}

.learn-more {
  display: flex;
  justify-content: center;
}

.about-me {
  background-color: var(--third-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--third-color);
  cursor: pointer;
  margin: 10px;
}

.about-me:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  color: white;
}

.homepage {
  text-align: center;
  font-size: 12px;
}

.email {
  text-align: center;
}
